body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive, system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

input, textarea {
  font-family: inherit;
}